{% extends "index.html" %}

{% block content %}
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">500-words-only</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Create your blog today within 500 characters, login or register to see what other
                people are blogging about. So what are you waiting for?</p>
        </div>
    </div>
</div>
<div class="px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-black py-4">Join today.</h1>

        <div class="d-grid gap-4 col-4 mx-auto">
            <button class="btn btn-dark btn-lg" type="button">Sign up</button>
            <button class="btn btn-outline-dark btn-lg" type="button">Log in</button>
        </div>
    </div>
</div>


{% endblock content %}