{% extends "index.html" %} {% block content %}
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <!-- px = padding on x axis -->
    <div class="py-5">
        <h1 class="display-3 fw-bold text-white mb-4">500-only</h1><!-- fw = font weight -->
        <div class="col-lg-6 mx-auto">
            <!-- mx = margin on x axis -->
            <p class="lead fs-5 mb-4">
                <!-- fs = font size -->
                Create your blog today within 500 characters, login or register to see
                what other people are blogging about. So what are you waiting for?
            </p>
        </div>
    </div>
</div>
<div class="px-4 pb-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-black py-5">Join today.</h1>
        <div class="d-grid gap-4 col-4 mx-auto">
            <button class="btn btn-dark btn-lg" type="button">Sign up</button>
            <button class="btn btn-outline-dark btn-lg" type="button">Log in</button>
        </div>
    </div>
</div>

{% endblock content %}